In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [112]:
df = pd.read_csv('../data/raw/aircraft_accidents.csv')

In [113]:
df.isna().sum() / df.shape[0] * 100

URL                             0.000000
aircraft_flight_hours          83.638114
aircraft_type                   0.000000
captain_total_flying_hours     80.284073
captain_total_hours_on_type    83.244378
city                            0.029166
construction_number            20.272990
copilot_total_flying_hours     93.644822
copilot_total_hours_on_type    94.344795
country                         0.005833
crash_causes                   44.279173
crash_circumstances             0.078747
crew_fatalities                 0.002917
crew_on_board                   0.067081
date_time                       0.000000
flight_number                  91.614898
flight_phase                    1.758684
flight_type                     0.169160
operator                        0.000000
other_fatalities                0.043748
pax_fatalities                  0.011666
pax_on_board                    0.145828
photo_url                      69.463645
region                          0.005833
registration                    3.202380
schedule                       28.955581
site_type                       1.070377
survivors                       3.689445
total_fatalities                0.000000
year_of_manufacture            25.047394
zone                            0.034999
dtype: float64

In [114]:
df_na = df.isna().sum() / df.shape[0] * 100
drop_cols = (df_na).loc[df_na > 70].index
drop_cols = drop_cols.tolist()
drop_cols

['aircraft_flight_hours',
 'captain_total_flying_hours',
 'captain_total_hours_on_type',
 'copilot_total_flying_hours',
 'copilot_total_hours_on_type',
 'flight_number']

In [119]:
(df_na).loc[(df_na < 10) & (df_na > 0)]

city                   0.029166
country                0.005833
crash_circumstances    0.078747
crew_fatalities        0.002917
crew_on_board          0.067081
flight_phase           1.758684
flight_type            0.169160
other_fatalities       0.043748
pax_fatalities         0.011666
pax_on_board           0.145828
region                 0.005833
registration           3.202380
site_type              1.070377
survivors              3.689445
zone                   0.034999
dtype: float64

In [103]:
df.drop(columns=drop_cols, inplace=True)

In [104]:
df.head()

,URL,aircraft_type,city,construction_number,country,crash_causes,crash_circumstances,crew_fatalities,crew_on_board,date_time,flight_phase,flight_type,operator,other_fatalities,pax_fatalities,pax_on_board,photo_url,region,registration,schedule,site_type,survivors,total_fatalities,year_of_manufacture,zone,crash_date,crash_time,carsh_year,carsh_month,carsh_month_num,crash_weekday,crash_weeknum,crash_day/night
0,https://www.baaa-acro.com/crash/crash-beechcra...,Beechcraft 90 King Air,Yarumal,LJ-934,Colombia,NaN,The twin engine airplane departed Montería-Los...,2.0,2.0,"Mar 21, 2024 at 0720 LT",Flight,Ambulance,Sky Ambulance (52026),0.0,2.0,2.0,https://www.baaa-acro.com/sites/default/files/...,South America,HK-4684,Montería - Medellín,"Plain, Valley",No,4,1981.0,Antioquia,2024-03-21,07:20,2024,Mar,3,Thu,3,day
1,https://www.baaa-acro.com/crash/crash-socata-t...,Socata TBM-960,Truckee,1441,United States of America,NaN,On final approach to Truckee-Tahoe Airport run...,1.0,1.0,"Mar 30, 2024 at 1838 LT",Landing (descent or approach),Private,Avram Enterprises (52029),0.0,1.0,1.0,https://www.baaa-acro.com/sites/default/files/...,North America,N960LP,Denver - Truckee,Airport (less than 10 km from airport),No,2,2022.0,California,2024-03-30,18:38,2024,Mar,3,Sat,5,day
2,https://www.baaa-acro.com/crash/crash-beechcra...,Beechcraft 90 King Air,Palenque,LW-43,Mexico,NaN,Following an uneventful flight from Tuxtla Gut...,2.0,2.0,"Mar 28, 2024 at 1322 LT",Landing (descent or approach),Charter/Taxi (Non Scheduled Revenue Flight),Comercializadora Masvi (52027),0.0,7.0,7.0,https://www.baaa-acro.com/sites/default/files/...,Central America,XB-SKA,Tuxtla Gutiérrez - Palenque,Mountains,No,9,1973.0,Chiapas,2024-03-28,13:22,2024,Mar,3,Thu,3,day
3,https://www.baaa-acro.com/crash/crash-boeing-7...,Boeing 727-200,Malakal,21931/1531,South Sudan,NaN,"Following a cargo flight from Juba, the airpla...",0.0,3.0,"Mar 31, 2024",Landing (descent or approach),Cargo,Safe Air Company (35954),0.0,0.0,4.0,https://www.baaa-acro.com/sites/default/files/...,Africa,5Y-IRE,Juba - Malakal,Airport (less than 10 km from airport),Yes,0,1979.0,Upper Nile (أعالي النيل),2024-03-31,NaN,2024,Mar,3,Sun,6,night
4,https://www.baaa-acro.com/crash/crash-let-l-41...,Let L-410,Butembo,79 03 03,Democratic Republic of Congo,NaN,"In unclear circumstances, the twin engine airp...",0.0,0.0,"Mar 17, 2024",Landing (descent or approach),Scheduled Revenue Flight,Cetraca Aviation Service (39289),0.0,0.0,0.0,https://www.baaa-acro.com/sites/default/files/...,Africa,9S-GPB,Goma - Butembo,Airport (less than 10 km from airport),Yes,0,1979.0,Nord-Kivu,2024-03-17,NaN,2024,Mar,3,Sun,6,night

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34287 entries, 0 to 34286
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   URL                          34287 non-null  object
 1   aircraft_flight_hours        5610 non-null   float64
 2   aircraft_type                34287 non-null  object
 3   captain_total_flying_hours   6760 non-null   float64
 4   captain_total_hours_on_type  5745 non-null   float64
 5   city                         34277 non-null  object
 6   construction_number          27336 non-null  object
 7   copilot_total_flying_hours   2179 non-null   float64
 8   copilot_total_hours_on_type  1939 non-null   float64
 9   country                      34285 non-null  object
 10  crash_causes                 19105 non-null  object
 11  crash_circumstances          34260 non-null  object
 12  crew_fatalities              34286 non-null  float64
 13  crew_on_board                34264 non-null  float64
 14  date_time                    34287 non-null  object
 15  flight_number                2875 non-null   object
 16  flight_phase                 33684 non-null  object
 17  flight_type                  34229 non-null  object
 18  operator                     34287 non-null  object
 19  other_fatalities             34272 non-null  float64
 20  pax_fatalities               34283 non-null  float64
 21  pax_on_board                 34237 non-null  float64
 22  photo_url                    10470 non-null  object
 23  region                       34285 non-null  object
 24  registration                 33189 non-null  object
 25  schedule                     24359 non-null  object
 26  site_type                    33920 non-null  object
 27  survivors                    33022 non-null  object
 28  total_fatalities             34287 non-null  int64
 29  year_of_manufacture          25699 non-null  float64
 30  zone                         34275 non-null  object
dtypes: float64(11), int64(1), object(19)
memory usage: 8.1+ MB

In [15]:
df['flight_type'].value_counts(normalize=True) * 100

flight_type
Scheduled Revenue Flight                       17.724736
Military                                       16.249379
Training                                       12.214789
Bombing                                        10.713138
Cargo                                           8.440212
Private                                         7.257004
Charter/Taxi (Non Scheduled Revenue Flight)     5.638494
Survey / Patrol / Reconnaissance                3.602209
Executive/Corporate/Business                    3.099711
Positioning                                     1.969091
Test                                            1.893132
Postal (mail)                                   1.536709
Spraying (Agricultural)                         1.472436
Ferry                                           1.291303
Supply                                          1.212422
Ambulance                                       0.771276
Government                                      0.730375
Illegal (smuggling)                             0.674866
Delivery                                        0.666102
Skydiving / Paratroopers                        0.552163
Demonstration                                   0.520027
Fire fighting                                   0.444068
Humanitarian                                    0.391481
Aerial photography                              0.239563
Geographical / Geophysical / Scientific         0.195740
Refuelling                                      0.148996
Meteorological / Weather                        0.122703
Calibration                                     0.093488
Topographic                                     0.090566
Cinematography                                  0.035058
Aerobatic                                       0.008764
Name: proportion, dtype: float64

In [8]:
df['URL'].loc[df['photo_url'].isna()].iloc[100]

'https://www.baaa-acro.com/crash/crash-de-havilland-dh4-weikert'

In [9]:
df['operator'].loc[df['photo_url'].isna()].iloc[100]

'U.S. Air Mail Service (35401)'

In [44]:
df['operator'].str.split().map(lambda x: ' '.join(x[:-1])).str.strip()

0                                         Sky Ambulance
1                                     Avram Enterprises
2                                Comercializadora Masvi
3                                      Safe Air Company
4                              Cetraca Aviation Service
                              ...
34282         Aeroflot - Russian International Airlines
34283             Spanish Air Force - Ejército del Aire
34284    Argentinian Air Force - Fuerza Aérea Argentina
34285                                  Eastern Airlines
34286         Aeroflot - Russian International Airlines
Name: operator, Length: 34287, dtype: object

In [24]:
df['aircraft_flight_hours'].loc[df['aircraft_flight_hours'].notna()]

15        9763.0
103       6054.0
115      10492.0
124       3600.0
170      28731.0
          ...
34268    19630.0
34281     8612.0
34282     4021.0
34285    29941.0
34286     4023.0
Name: aircraft_flight_hours, Length: 5610, dtype: float64

In [29]:
df['aircraft_type'].loc[df['aircraft_type'].str.lower().str.contains('boeing')]

3                     Boeing 727-200
32                    Boeing 757-200
188                   Boeing 737-300
245      Boeing B-17 Flying Fortress
349                   Boeing 737-800
                    ...
34151    Boeing B-17 Flying Fortress
34169      Boeing KC-97 Stratotanker
34185     Boeing B-52 Stratofortress
34224      Boeing KC-97 Stratotanker
34246    Boeing B-17 Flying Fortress
Name: aircraft_type, Length: 1337, dtype: object

In [57]:
df['date_time'].str.split('at').map(lambda x: x[1] if len(x) == 2 else np.nan).str.strip().str.split().str[-1].value_counts()

date_time
LT    16555
Name: count, dtype: int64

In [95]:
df['crash_time'] = df['date_time'].str.split('at')
df['crash_time'] = df['crash_time'].map(lambda x: x[1] if len(x) == 2 else np.nan)
df['crash_time'] = df['crash_time'].str.strip().str.split()
df['crash_time'] = pd.to_datetime(df['crash_time'].str[0], format='%H%S')
df['crash_day/night'] = np.where(df['crash_time'].dt.hour.isin(range(7, 19)), 'day', 'night')
df['crash_time'] = df['crash_time'].dt.strftime('%H:%S')
df['crash_time']

0        07:20
1        18:38
2        13:22
3          NaN
4          NaN
         ...
34282    12:07
34283      NaN
34284    23:55
34285    03:43
34286    06:45
Name: crash_time, Length: 34287, dtype: object

In [96]:
df['crash_day/night'].isna().sum()

0

In [88]:
df['crash_date'] = pd.to_datetime(df['date_time'].str.split('at').str[0].str.strip())
df['carsh_year'] = df['crash_date'].dt.year
df['carsh_month'] = df['crash_date'].dt.month_name().str[:3]
df['carsh_month_num'] = df['crash_date'].dt.month
df['crash_weeknum'] = df['crash_date'].dt.day_of_week
df['crash_weekday'] = df['crash_date'].dt.day_name().str[:3]
df['crash_weekday']

0        Thu
1        Sat
2        Thu
3        Sun
4        Sun
        ...
34282    Fri
34283    Tue
34284    Tue
34285    Wed
34286    Wed
Name: crash_weekday, Length: 34287, dtype: object

In [45]:
df['total_fatalities']

0         4
1         2
2         9
3         0
4         0
         ..
34282    21
34283     4
34284     4
34285    17
34286     6
Name: total_fatalities, Length: 34287, dtype: int64